*{
    margin : 0;
    padding : 0;    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background : linear-gradient(grey,cyan);
    /* background-image: url('/backimg.jpg'); */ 
}

.box{
    background-color: blanchedalmond;
    border-radius: 20px;
    /* width: 20rem; */
    height: 15rem;
    /* padding-left: 8rem;
    padding-top: 1rem; */
    padding : 2em;
    max-width: 400px;
    opacity: .7;
}

/* .box{
    background-color: blanchedalmond;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin : 1 em;
    padding : 2em;
} */



.search{
    display: flex;
    align-items: center;
    /* border-radius: 1rem; */
    justify-content: center;  
    margin-bottom: 10px;

}

button{
    margin : 0.5em;
    border-radius: 30px;
    border: none;
    height:30px;
    width: 30px;
    background-color: #6a66662b;
    color : black;
    cursor : pointer;
    outline: none;
    transition: 0.2s ease-in-out;
}

.temp{
    /* display: block; */
    font-size: 2em;
    /* margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    font-weight: bold;
    margin-top: 1rem;

}

input.searchbar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: black;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }

button:hover {
    background: #7c7c7c6b;
  }

.flex {
    display: flex;
    align-items: center;
  }
  

.weatherType {
    margin-top: 4rem;
    margin-left: -50px;

  }

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }
